@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

body {
    font-family: 'Baloo Paaji 2', cursive;
    background: url('./background.png'), linear-gradient(rgba(0, 143, 151, 0.5), white);
    background-repeat: repeat , no-repeat;
    background-color: #fffffe;
    background-size: auto;
    margin: 0;
}

.title {
    /*background-color: rgba(255, 255, 255, 0.3);*/
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 300%;
    background: url("./logo.png"), url("./title-background.png");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: contain, cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20%;
    border-bottom: 1px ridge;
    border-color: darkorange;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 2s ease;
}

.section-title {
    font-weight: bold;
    font-size: 300%;
    text-align: center;
}

hr {
    width: 10%;
    border: 1px solid darkorange;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1% 1%;
    margin: 13% 1% 1% 1%;
}

@media (max-width:768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1% 1%;
        margin: 13% 1% 1% 1%;
    }
}

.inner-grid-container {
    font-size: 100%;
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-gap: 2% 2%;
    height: 15vw;
}

.grid-container-p {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

/*ROTATION TILE*/
.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}*/

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(6, 143, 149, 0.7);
    color: black;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: darkorange;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3%;
}

.flip-card-back {
    font-size: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(6, 143, 149, 0.7);
    border: 1px solid;
    border-color: darkorange;
    color: black;
    height: 100%;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
}

.flip-card-inner-o {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*.flip-card:hover .flip-card-inner-o {
    transform: rotateY(180deg);
}*/

.flip-card-front-o, .flip-card-back-o {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front-o {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 130, 36, 0.7);
    color: black;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: rgba(6, 143, 149, 0.7);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3%;
}

.flip-card-back-o {
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 130, 36, 0.7);
    border: 1px solid;
    border-color: rgba(6, 143, 149, 0.7);
    color: black;
    height: 100%;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
}




/*FOTO PERSONALI*/
.photo {
    background-color: rgba(255, 130, 36, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-didascalia {
    top: 80%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.7);
}

.photo-desc {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(6, 143, 149, 0.7);
    color: black;
    font-size: 200%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.contacts {
    width: 100%;
    background: url("./2004612.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 1px ridge;
    border-color: darkorange;
    color: white;
    text-align: center;
    border-radius: 5%;
    display: grid;
}

/* FOOOTER */
.footer {
    left: 0;
    bottom: 0;
    height: fit-content;
    width: 100%;
    background: url("./title-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 1px ridge;
    border-color: darkorange;
    color: black;
    text-align: center;
}

.fa {
    padding: 2%;
    font-size: 100%;
    width: 8%;
    text-align: center;
    text-decoration: none;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: linear-gradient(#be1474, #dc1654, #f7941d);
    color: white;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
}

/*MOBILE*/
.grid-container-mob {
    font-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1% 1%;
    margin: 1%;
}
.main-tile {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(6, 143, 149, 0.7);
    color: black;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.main-tile:nth-of-type(1) {
    background-color: rgba(255, 130, 36, 0.7);
}

/* SOCIAL BAR LEFT */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 5%;
    height: 40%;
}
  
  
.icon-bar a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    width: 100%;
    height: 20%;
    border-radius: 0 10% 10% 0;
    border: black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.social-separator{
    display: block;
    height: 5%;
}
  

.icon-bar a:hover {
    opacity: 0.7;
    width: 110%;
}
  
.facebook {
    background-image: url(./fb.svg);
    background-color: #3b5998;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.instagram{
    background-image: url(./ig.svg);
    background-color: #C13584;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.mail {
    background-image: url(./mail.svg);
    background-color: #1DA1F2;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.phone {
    background-image: url(./phone.svg);
    background-color: #f7a41e;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
